
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <ul>
        @foreach(var course in Model)
        {
            <li>
                @course.DateTime.ToString("dd/MM/yyyy") - @course.Name
            </li>
        }
    </ul>
</div>