@model IEnumerable<lab4.Models.Course>

@{
    ViewBag.Title = "LectureIamGoing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LectureIamGoing</h2>
<div class="row">
    <ul class="course">
        @foreach (var course in Model)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @course.Datetime.ToString("MM")
                    </div>
                    <div class="day">
                        @course.Datetime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <span class="lecture">@course.LectureName</span>
                    <br />
                    <span class="category">@course.Category.Name</span>
                </div>
            </li>
        }
    </ul>
</div>

